democloud/src/main/mule/democloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5bf9393-67a8-41da-81ab-648de2b6f7cc" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="democloudFlow" doc:id="51a8aa38-6548-4c67-b31e-53ac089bad8a" >
		<http:listener doc:name="Listener" doc:id="8d36e895-3ffd-4d96-8e5f-e32d46e86b66" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="af15c9f3-2b4d-4667-a0b9-c8172612e94d" />
	</flow>
</mule>
